body {
  font-family: sans-serif;
  background: linear-gradient(to bottom, #66ccff 0%, #ffcccc 100%);
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  display: flex;
  background: lightcoral;
  padding: 0.5em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: 2px solid black;
  border-radius: 15px;
}

nav h3 {
  color: white;
  text-shadow: black 2px 2px;
  font-size: 150%;
}

nav a {
  align-items: baseline;
  margin: 1.3em;
}

form div {
  margin: 1em;
  display: inline-block;
}
